<app-acceuil></app-acceuil>
<div>
<div class="address-card">
    <div class="logo">
        <a href="#">
            <img src="assets/images/icon/epi.jpg" alt="Cool Admin"  />
        </a>
    </div>
   <h1 class="name">

    PRÉSENTATION
   </h1>
   <p class="par">EPI Sup est spécialisé dans l’enseignement supérieur.

    Créé en 2011, il comprend aujourd’hui 3 écoles :
    
    Ecole Polytechnique (EPI-Polytechnique) pour la formation d’ingénieurs
    Ecole d’Architecture (EPI-Arch) pour la formation d’ingénieurs-architectes
    Ecole Business School (EPI-Business School) pour la formation de managers
    Ces Ecoles sont implantées dans un Campus exceptionnel disposant d’une infrastructure moderne et performante et offrant un cadre d’étude et de vie agréable.
    
</p>
    </div>
</div>
